# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Python na Engenharia
author: UniRobótica
copyright: "2024"
logo: UniRoboticaAzulSemFundo.png

# Não executa notebooks durante a construção
execute:
  execute_notebooks: "off"

# LaTeX PDF
latex:
  latex_documents:
    targetname: book.tex

# Arquivo BibTex
bibtex_bibfiles:
  - references.bib

# Informações do repositório
repository:
  url: https://github.com/UniRobotica/python-na-engenharia
  path_to_book: .        # <-- CORRETO para seu fluxo
  branch: main

# Configurações HTML
html:
  favicon: "favicon.svg"
  use_issues_button: true
  use_repository_button: true
  use_edit_page_button: true

# Inclui notebooks
content:
  notebooks:
    - notebooks/*

# Botões de execução interativa
launch_buttons:
  thebe: true
  notebook_interface: "jupyterlab"

thebe_config:
  always_load: true
